.navbar {
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #050B18;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  animation: fadedown 1s ease forwards;
  
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
  background: linear-gradient(90deg, #3CE7FF, #A367FF);
 background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #cbd5e1;
  padding: 6px 0;
  position: relative;
  transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
  color: #ffffff;
}

.navbar nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #3CE7FF, #A367FF);
  transition: width 0.3s ease;
}

.navbar nav a:hover::after {
  width: 100%;
}
.navbar nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #3CE7FF, #A367FF);
  transition: width 0.3s ease;
}
.navbar nav a.active::after {
  width: 100%;
}


.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 60px;
  right: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(5, 11, 24);
  padding: 20px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 
}
.menu.active {
  visibility: visible;
  animation: fadeUp 1s ease forwards;
}

.menu a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 300;
  border-radius: 10px;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.menu a:active {
  color: cyan;
}


@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(25px); }
  100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadedown{
  0% { opacity: 0; transform: translateY(-25px); }
  100% { opacity: 1; transform: translateY(0); }
}
@keyframes toright{
   0% { opacity: 0; transform: translateX(-25px); }
  100% { opacity: 1; transform: translateX(0); }
}
@keyframes toleft{
   0% { opacity: 0; transform: translateX(25px); }
  100% { opacity: 1; transform: translateX(0); }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }
}

@media (max-width: 780px) {
  .navbar {
    height: 60px;
    padding: 0 20px;
  }

  .navbar nav {
    display: none;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 18px;
  }
}
